.explain-btn {
  font-size: 14px;
}

.components-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  justify-content: start;
  gap: 20px;

  div {
    width: 240px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.249);
    padding: 18px 20px;
  }
}
