<section>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="table-col-160px">Date</th>
          <th>Developer</th>
          <th>Task</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of ngForData.data">
        <tr>
          <td rowspan="1000">{{ data.log_date }}</td>
        </tr>
        <tr *ngFor="let dev of data.task_data">
          <td>
            <p>
              {{ dev.developer.name }}<br />
              <span class="table-badge">
                {{ dev.developer.total_hour }}
              </span>
            </p>
          </td>
          <td>
            <div *ngFor="let taskCodeName of dev.task">
              <p>
                {{ taskCodeName.name }} | <b>{{ taskCodeName.code }}</b>
              </p>
            </div>
          </td>
          <td>
            <div *ngFor="let taskDuration of dev.task">
              <p>{{ taskDuration.duration }}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
