.app {
  .app-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;

    .app-headerOne {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
    }

    .menu-btn {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
      font-weight: 800;
      font-family: var(--font-manrope);
      cursor: pointer;
    }
  }

  .app-body {
    padding: 0 20px;
  }

  .custom-offcanvas {
    max-width: 260px;
  }
}
