<main class="app">
  <section class="app-main" *ngIf="showHome">
    <div class="app-headerOne">
      <!-- Offcanvas -->
      <p
        class="menu-btn"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        <i class="fa-solid fa-bars"></i>
      </p>
      <div
        class="offcanvas offcanvas-start custom-offcanvas"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <p class="offcanvas-title" id="offcanvasExampleLabel">
            <b>Topics</b>
          </p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let topicsList of topics"
              [value]="topicsList.value"
              [routerLink]="topicsList.value"
            >
              <i [class]="'fa-regular' + topicsList.icon"></i>
              {{ topicsList.optionName }}
            </li>
          </ul>
        </div>
      </div>
      <!-- Offcanvas End -->
      <h2>Angular Topics</h2>
    </div>
  </section>

  <section class="app-body">
    <router-outlet></router-outlet>
  </section>
</main>
